.header__navbar {
    .navbar__navCont {
        background-color: $blanco;
        border-bottom: solid $gris_claro 1px;
        padding-bottom: 20px;

        .navCont__button {
            border: none;

            &:focus {
                box-shadow: none;
            }

            ;
        }

        .navCont__a {
            margin: auto;

            &--img {
                width: 150px;
            }
        }

        .navCont__collCont {
            .collCont__ul {
                .collCont__li {
                    .collCont__li--a {
                        @include txtnav(font, weight, size);
                    }

                    .liDrop {
                        &__ul{
                            &__li{
                                &--a {
                                    @include txtnav(font, weight, size);
                                }
                            }
                        }
                    }


                    
                }

            }
        }
    }
}


@media (min-width: 992px) {
    .header__navbar {
        .navbar__navCont {
            background-color: $blanco;
            border-bottom: solid $gris_claro 1px;
            padding-bottom: 0px;
            display: flex;
            flex-direction: column;

            .navCont__a {
                margin: auto;

                &--img {
                    width: 200px;
                }
            }
            .navCont__collCont {
                .collCont__ul {
                    .collCont__li {
                        margin: 0 50px;
                        .collCont__li--a {
                            @include txtnav(font, weight, size);
                        }
    
                        .liDrop {
                            &__ul{
                                &__li{
                                    &--a {
                                        @include txtnav(font, weight, size);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}