@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

$negro: #0f0f0f;
$gris_oscuro: #222121;
$gris: #383737;
$gris_claro: #9f9e9e;
$blanco: #fffcfc;

$Ft_navbar: 'Quicksand', sans-serif;